{% if posts is empty %}
<div class="row">
    <div class="col s12 m6">
        <div class="card red">
            <div class="card-content white-text">
                <span class="card-title">{{ 'text.card.title.aucun'|trans }}</span>
                <p>{{ 'text.card.paragraph.aucun'|trans }}</p>
                <p>
                    {{ 'text.card.paragraph.redirectHomePage'|trans }} 
                    <a href="{{ path('homepage') }}">{{ 'lien.ici'|trans }}</a> 
                    {{ 'text.card.paragraph.redirectHomePageSuite'|trans }}
                </p>
            </div>
        </div>
    </div>
</div>
{% else %}
    {% for post in posts %}
        <div class="col s12 m7">
            <div class="card horizontal hoverable teal lighten-4">
                <div class="card-image">
                USER IMAGE
                </div>
                <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">{{ post.titre }}</span>
                    <p>{{ post.content }}</p>
                    <blockquote>{{ 'text.blockquote.date'|trans }} {{ post.published|date('d/m/Y') }}</blockquote>
                </div>
                <div class="card-action">
                    <a href="{{ path('post', {'url_alias': post.urlAlias}) }}" class="orange-text darken-4">{{ 'lien.post.afficher'|trans }}</a>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}