{% extends "blog/template.html.twig" %}

{% block body %} 
<main>
    <div class="container">
        {{ form_start(form) }}
            <div class="row">
                <div class="input-field">
                    {{ form_label(form.titre) }}
                    {{ form_widget(form.titre, {'attr': {'value': post.titre}}) }}
                    <span class="helper-text red-text" data-error="wrong">{{ form_errors(form.titre) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea'}}) }}
                    <span class="helper-text red-text" data-error="wrong">{{ form_errors(form.content) }}</span>
                </div>
            </div>
            <button class="btn-large amber accent-4" type="submit">
                <i class="material-icons left">edit</i>{{'btn.submit.update'|trans }}
            </button>
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}