{% extends "blog/template.html.twig" %}

{% block body %} 
<main>
    <div class="container">
        {{ form_start(form) }}
            <div class="row">
                <div class="input-field">
                    {{ form_label(form.titre) }}
                    {{ form_widget(form.titre) }}
                    {{ form_errors(form.titre) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea'}}) }}
                    {{ form_errors(form.content) }}
                </div>
            </div>
            <button class="btn-large green accent-4" type="submit">
                {{'btn.submit.enregistrer'|trans }}
            </button>
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}