{% extends "base.html.twig" %} 

{% block header %} 
{{ parent() }}
<header>
  <nav class="nav-extended cyan lighten-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{ 'lien.logo'|trans }}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if not app.user %}
                    <li><a href="{{ path('fos_user_security_login') }}">
                            <i class="material-icons left">input</i>{{ 'lien.connexion'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <i class="material-icons left">person_add</i>{{ 'lien.inscription'|trans }}
                        </a>
                    </li>
                {% elseif app.user %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                                <i class="material-icons left">exit_to_app</i>{{ 'lien.deconnexion'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
                
        <div style="padding-top: 5em; padding-bottom: 5em;">
            <h4 class="center-align">{{ 'text.titreOnglet'|trans }}</h4>
        </div>
    </div>
    <div id="variable-fixed">
        <div class="nav-content cyan" id="fixedTab">
            <div class="container">
                <ul class="tabs tabs-transparent">
                    <li class="tab">
                        <a href="{{ path('homepage') }}">
                            <i class="material-icons left">home</i>{{ 'lien.accueil'|trans }}
                        </a>
                    </li>
                    <li class="tab">
                        <a href="#search-modal" class="modal-trigger">
                            <i class="material-icons left">search</i>{{ 'lien.modal.recherchePost'|trans }}
                        </a>
                    </li>
                    {% if app.user %}
                        <li class="tab">
                            <a href="{{ path('createPost') }}">
                                <i class="material-icons left">add_circle</i>{{ 'lien.post.create'|trans }}
                            </a>
                        </li>
                        <li class="tab">
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <i class="material-icons left">person</i>{{ 'lien.profil'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
  </nav>
</header>

  <!-- Modal Structure -->
  <div id="search-modal" class="modal">
        <div class="modal-content">
          <h4>{{ 'text.titre.recherchePost'|trans }}</h4>
          <p>{{ 'text.paragraph.recherchePost'|trans }}</p>
          <form action="{{ path('sortedPost') }}" method="POST">
              <div class="row">
                  <div class="input-field col s12">
                      <select name="critere" id="critere">
                            <option value="" disabled selected>{{ 'option.disabled.recherchePost'|trans }}</option>
                          <option value="titre">{{ 'option.recherchePost.titre'|trans }}</option>
                          <option value="published">{{ 'option.recherchePost.published'|trans }}</option>
                      </select>
                      <label for="critere">{{ 'label.select.recherchePost'|trans }}</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12" id="variable-input">
                      
                  </div>
              </div>
              <div class="row">
                  <div class="col s2 offset-s10">
                        <button type="submit" class="btn waves-effect waves-light cyan">
                            <i class="material-icons left">search</i>{{ 'btn.submit.rechercher'|trans }}
                        </button>
                  </div>
              </div>
          </form>
            <div class="row">
                <div class="col s2 offset-s10">
                    <button type="button" class="modal-close waves-effect btn-flat modal-close red white-text" id="modal-close">
                            <i class="material-icons left">close</i>{{ 'btn.fermer'|trans }}
                    </button>
                </div>
            </div>
        </div>
      </div>
{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}

{% block footer %}
<footer class="page-footer cyan lighten-2" id="footer">
    <div class="container">
    <div class="row">
        <br>
        <br>
        <br><br>
        <div class="col l6 s12">
        <h5 class="white-text">{{ 'text.titre.footer'|trans}}</h5>
        <p class="grey-text text-lighten-4">{{ 'text.paragraph.footer'|trans }}</p>
        <a href="https://symfony.com/" class="col s2">Symfony</a>
        <a href="https://materializecss.com/" class="col s2">Materialize</a>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">{{ 'text.titre.encadrement'|trans }}</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="https://sciences.edu.umontpellier.fr/">{{ 'lien.ecole'|trans }}</a></li>
            <li><a class="grey-text text-lighten-3" href="http://www.lirmm.fr/~lafourcade/index2.html">{{ 'lien.professeur'|trans }}: {{ 'lien.gender'|trans }} Lafourcade</a></li>
            <li><a class="grey-text text-lighten-3" href="https://blog.kulakowski.fr/">{{ 'lien.intervenant'|trans }}: {{ 'lien.gender'|trans }} Kulakowski</a></li>
            <li><a class="grey-text text-lighten-3" href="https://fr.linkedin.com/in/lo%C3%AFc-cariou-93b8418a">{{ 'lien.intervenant'|trans }}: {{ 'lien.gender'|trans }} Cariou</a></li>
        </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright cyan">
        <div class="container">
        © 2018 Copyright
        <a class="grey-text text-lighten-4 right" href="https://moodle.umontpellier.fr/enrol/index.php?id=1092">{{ 'lien.ue'|trans }}</a>
        </div>
    </div>
</footer>
{% endblock %}

{% block javascripts %}
<script>
{{ parent() }}
$(document).ready(function() {
    /* Cette partie du code permet de coller la navbar en haut de la page quand on scroll */
    var positionTab = $(".nav-content").position().top;
    $(document).scroll(function() {
        var positionWindow = $(window).scrollTop();
        if(positionWindow >= positionTab)
        {
            $(".nav-content").addClass("sticky");
            $("#variable-fixed").addClass("navbar-fixed");
        }
        else
        {
            $(".nav-content").removeClass("sticky");
            $("#variable-fixed").removeClass("navbar-fixed");
        }
    });
    /*************************************************************************************/

    $('.modal').modal({ dismissible: true});
    $('select').formSelect();

    /* Cette partie du code gère la génération d'input dans le select */
    $('#critere').change(function() {
        $('#variable-input').empty();
        var value = $('#critere option:selected').val();
        if(value == 'titre')
        {
            var html = '<input id="first_name" type="text" name="titre">';
            html += '<label for="first_name">'+"{{ 'label.input.text.prenom'|trans }}"+'</label>';
            $('#variable-input').append(html);
        }
        else if(value == 'published')
        {
            var html = '<input type="text" class="datepicker" name="published">';
            $('#variable-input').append(html);
            $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
        }
    });
    /*****************************************************************/

    $('#modal-close').click(function() {
        $('.modal').close();
    });
});
</script>
{% endblock %}