{% extends "base.html.twig" %} 

{% block header %} 
{{ parent() }}
<header>
  <nav class="nav-extended cyan lighten-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{ 'lien.logo'|trans }}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if not app.user %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'lien.connexion'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'lien.inscription'|trans }}</a></li>
                {% elseif app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'lien.deconnexion'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
                
        <div style="padding-top: 5em; padding-bottom: 5em;">
            <h4 class="center-align">{{ 'text.titreOnglet'|trans }}</h4>
        </div>
    </div>
    <div id="variable-fixed">
        <div class="nav-content cyan" id="fixedTab">
            <div class="container">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="{{ path('homepage') }}">{{ 'lien.accueil'|trans }}</a></li>
                    {% if app.user %}
                        <li class="tab"><a href="{{ path('fos_user_profile_edit') }}">{{ 'lien.profil'|trans }}</a></li>
                    {% endif %}
                    <li class="tab">
                        <a href="#search-modal" class="modal-trigger">{{ 'lien.modal.recherchePost'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </nav>
</header>

  <!-- Modal Structure -->
  <div id="search-modal" class="modal">
        <div class="modal-content">
          <h4>{{ 'text.titre.recherchePost'|trans }}</h4>
          <p>{{ 'text.paragraph.recherchePost'|trans }}</p>
          <form action="{{ path('sortedPost') }}" method="POST">
              <div class="row">
                  <div class="input-field col s12">
                      <select name="critere" id="critere">
                            <option value="" disabled selected>{{ 'option.disabled.recherchePost'|trans }}</option>
                          <option value="titre">{{ 'option.recherchePost.titre'|trans }}</option>
                          <option value="published">{{ 'option.recherchePost.published'|trans }}</option>
                      </select>
                      <label for="critere">{{ 'label.select.recherchePost'|trans }}</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12" id="variable-input">
                      
                  </div>
              </div>
              <div class="row">
                  <div class="col s2 offset-s10">
                        <button type="submit" class="btn waves-effect waves-light cyan">{{ 'btn.submit.rechercher'|trans }}</button>
                  </div>
              </div>
          </form>
            <div class="row">
                <div class="col s2 offset-s10">
                    <button type="button" class="modal-close waves-effect btn-flat modal-close red white-text" id="modal-close">{{ 'btn.fermer'|trans }}</button>
                </div>
            </div>
        </div>
      </div>
{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}

{% block footer %}
<footer class="page-footer cyan lighten-2" id="footer">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright cyan">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
    </div>
</footer>
{% endblock %}

{% block javascripts %}
<script>
{{ parent() }}
$(document).ready(function() {
    /* Cette partie du code permet de coller la navbar en haut de la page quand on scroll */
    var positionTab = $(".nav-content").position().top;
    $(document).scroll(function() {
        var positionWindow = $(window).scrollTop();
        if(positionWindow >= positionTab)
        {
            $(".nav-content").addClass("sticky");
            $("#variable-fixed").addClass("navbar-fixed");
        }
        else
        {
            $(".nav-content").removeClass("sticky");
            $("#variable-fixed").removeClass("navbar-fixed");
        }
    });
    /*************************************************************************************/

    $('.modal').modal({ dismissible: true});
    $('select').formSelect();

    /* Cette partie du code gère la génération d'input dans le select */
    $('#critere').change(function() {
        $('#variable-input').empty();
        var value = $('#critere option:selected').val();
        if(value == 'titre')
        {
            var html = '<input id="first_name" type="text" name="titre">';
            html += '<label for="first_name">'+"{{ 'label.input.text.prenom'|trans }}"+'</label>';
            $('#variable-input').append(html);
        }
        else if(value == 'published')
        {
            var html = '<input type="text" class="datepicker" name="published">';
            $('#variable-input').append(html);
            $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
        }
    });
    /*****************************************************************/

    $('#modal-close').click(function() {
        $('.modal').close();
    });
});
</script>
{% endblock %}