{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="row">
        <div class="input-field col s6">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password) }}
            <span class="helper-text red-text" data-error="wrong">{{ form_errors(form.current_password) }}</span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
            <span class="helper-text red-text" data-error="wrong">{{ form_errors(form.plainPassword.first) }}</span>
        </div>
        <div class="input-field col s6">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            <span class="helper-text red-text" data-error="wrong">{{ form_errors(form.plainPassword.second) }}</span>
        </div>
    </div>
    <div>
        <button type="submit" class="waves-effect waves-light btn amber accent-4">
            <i class="material-icons left">edit</i>{{ 'change_password.submit'|trans }}
        </button>
    </div>
{{ form_end(form) }}
